*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.write{
    text-align: center;
}

.container{
    display: flex;
    margin: 0 auto;
    margin-top: 1.5%;
    width: 65%;
    justify-content: center;
    align-items: center;
}
.grid{
    /* height: 100px; */
    text-align: center;
    width: 33.333%;
    /* background-color: hsl(0, 0%, 26%); */
}
.grid h5{
   padding-top: 2rem;
}
.grid h2{
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    font-size: 3rem;
 }
 .grid h6{
    padding-bottom: 0.7rem;
    padding-top: 0.7rem;
    /* font-size: 3rem; */
 }
.grid1{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.grid3{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.grid1,.grid3{
    height: 300px;
    background-color: hsl(240, 86%, 94%);
    padding-bottom: 1.5rem;
}
.grid2{
    height: 350px;
    border-radius: 5px;
    background-image: Linear-gradient(hsl(236, 72%, 79%),hsl(237, 63%, 64%));
}
.grid2 h5{
    padding-top: 2.8rem;
    color: white;
 }

 input{
     width: 75%;
     height: 30px;
     border-radius: 5px;
     border: none;
     cursor: pointer;
     margin-top: 1.3rem;
 }
 .grid1 input,.grid3 input{
    background-image: Linear-gradient(to right, hsl(236, 72%, 79%),hsl(237, 63%, 64%));
}
.grid2 input{
    color: hsl(237, 63%, 64%);
    background-color: white;
}

hr{
    margin: 0 auto;
    width: 75%;
    border: 0.5px solid rgb(190, 190, 190);
}








.write h5{
    display: flex;
    justify-content:center ;
    align-items: center;
}
.write h5 label{
   margin-left: 0.5rem;
   margin-right: 0.5rem;
}

/* toggle button */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
